.btn{
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);

    border: none;
    padding: 10px;
    border-radius: 83px;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:90%;
    width: 150px ;
    height: 45px;
    margin-top: 40px;
    margin-left: 75px;
 

    
}

.btn:hover{

        
    color: #0F1624;
    background-color: #ffffff;
    transform: translateY(-7px);
    transition-duration: 0.5s;
}